.offer-cont{position: relative;width: 300px;height: 250px;margin: 0 auto;line-height: 1.4;font-family: sans-serif;}
.offer-top-cont{display: block; height: 210px;position: relative;}
.offer-top-cont>img{width: 100%;border: none;display: block;height: 100%;object-fit: cover;}
.offer-timer{position: absolute;left: 98px;top:131px;font-size: 22px;transform: rotate(-12deg);color: #000;}
.form-cont{display: flex;}
.bottom-cont{height: 40px;background: #a21218;border-top:3px solid #fff;display: flex;padding:5px;box-sizing: border-box;}
.bottom-cont > a {width: 110px;margin-right: 10px;display: flex;align-items: center;}
.bottom-cont img{display: block;width: 100%;}
.form-input-cont{position: relative;background: #830e14;border: 1px solid #d3878b; color: #eee8e8;padding: 2px;margin-right:5px;font-size: 10px;box-sizing: border-box;}
.form-input-cont span{position: absolute;width:calc(100% - 20px);height: calc(100% - 6px);left: 0;top:2px;margin: 5px 3px;color: #eee8e8;box-sizing: border-box;overflow: hidden;
  border-right:.50px solid #eee8e8;white-space: nowrap;letter-spacing: .30px;
  animation:typing 5s steps(20, end) infinite, blink-caret .5s step-end infinite;}
.form-cont input[type='text']{height: 100%;background: transparent;border: none;width:100%;color:#eee8e8; }
.form-cont button{border: none;background: #ff9900;color: #fff;height: 100%;padding: 0 5px;font-weight: bold;font-size:10px;}
.form-cont button:focus,
.form-cont input:focus{outline: none; }
@keyframes typing {from { width: 0 }to { width: calc(100% - 20px) }}
@keyframes blink-caret {from, to { border-color: transparent }50% { border-color: orange }}
/* #toastmsg-cont {min-width: 250px;margin-left: -125px;background-color: #333;color: #fff;text-align: center;border-radius: 2px;padding: 16px;position: fixed;z-index: 1;left: 50%;bottom: 30px;font-size: 17px;} */
#toastmsg-cont{visibility: hidden;min-width: 200px;color: #fff;margin-left: -100px;text-align: center;border-radius: 2px;padding: 2px 5px;position: absolute;z-index: 1;left: 50%;bottom: 40px;box-sizing: border-box;font-size: 12px;font-weight: bold;box-shadow: 0px 3px 17px rgba(0,0,0,0.7);}
#toastmsg-cont.success{background-color: #2da733;border: 1px solid #436b45;visibility: visible;-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;animation: fadein 0.5s, fadeout 0.5s 2.5s;}
#toastmsg-cont.error {background-color: #ff0101;border: 1px solid #881111;visibility: visible;-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;animation: fadein 0.5s, fadeout 0.5s 2.5s;}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 40px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 40px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 40px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 40px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
