.st0{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#001636;}
.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.st3{fill-rule:evenodd;clip-rule:evenodd;fill:#FEFEFE;}
.st4{fill-rule:evenodd;clip-rule:evenodd;fill:#EE1C25;}
.st5{fill:#3D3D3D;}      