<nav class="navbar navbar-default app-nav">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% if page.layout != "index" %}../{% endif %}index.html">HqyInteract</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li {% if page.layout == "index" %}class="active"{% endif %}><a href="{% if page.layout != "index" %}../{% endif %}index.html">Home</a></li>
				<li {% if page.layout == "demos" %}class="active"{% endif %}><a href="{% if page.layout != "index" %}../{% endif %}demos/index.html">Demos</a></li>
				<li {% if page.layout == "docs" %}class="active"{% endif %}><a href="{% if page.layout != "index" %}../{% endif %}docs/started-welcome.html">Docs</a></li>
				<li><a href="http://rockcookies.github.io/hqy-interact/assets/download/hqyinteract-{{ site.version }}.zip">Download</a></li>
			</ul>
		</div>
	</div>
</nav>