$redcolor: #ed1c24; 
$whitecolor: #ffffff;     
$box-sizing: border-box;             
@import 'modules/global';  
@import 'modules/header';  
@import 'modules/navigations'; 
@import 'modules/breaking-exlusive';     
@import 'modules/top-news';   
@import 'modules/trending-news'; 
@import 'modules/all-news';
@import 'modules/right-news';                 
@import 'modules/footer';         
                               
                                                  