html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; }

img { max-width: 100%; }

* { box-sizing: border-box; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/** 1. Correct the line height in all browsers. 2. Prevent adjustments of font size after orientation changes in iOS. */
html { line-height: 1.15; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/* Sections ========================================================================== */
/** Remove the margin in all browsers. */
body { margin: 0; }

/** Render the `main` element consistently in IE. */
main { display: block; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 { font-size: 2em; margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/* Text-level semantics ========================================================================== */
/** Remove the gray background on active links in IE 10. */
a { background-color: transparent; }

/** 1. Remove the bottom border in Chrome 57- 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ text-decoration: underline dotted; /* 2 */ }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bolder; }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** Add the correct font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/* Embedded content ========================================================================== */
/** Remove the border on images inside links in IE 10. */
img { border-style: none; }

/* Forms ========================================================================== */
/** 1. Change the font styles in all browsers. 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }

/** Show the overflow in IE. 1. Show the overflow in Edge. */
button, input { /* 1 */ overflow: visible; }

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove the inheritance of text transform in Firefox. */
button, select { /* 1 */ text-transform: none; }

/** Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

/** Correct the padding in Firefox. */
fieldset { padding: 0.35em 0.75em 0.625em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }

/** Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { vertical-align: baseline; }

/** Remove the default vertical scrollbar in IE 10+. */
textarea { overflow: auto; }

/** 1. Add the correct box sizing in IE 10. 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }

/** Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

/* Interactive ========================================================================== */
/* Add the correct display in Edge, IE 10+, and Firefox. */
details { display: block; }

/* Add the correct display in all browsers. */
summary { display: list-item; }

/* Misc ========================================================================== */
/** Add the correct display in IE 10+. */
template { display: none; }

/** Add the correct display in IE 10. */
[hidden] { display: none; }

.clearfix:after, .clearfix:before { content: ""; display: block; width: 100%; line-height: 0; font-size: 0; visibility: hidden; clear: both; }

.m-t-0 { margin-top: 0px; }

.m-t-5 { margin-top: 5px; }

.m-t-10 { margin-top: 10px; }

.m-t-15 { margin-top: 15px; }

.m-t-20 { margin-top: 20px; }

.m-t-25 { margin-top: 25px; }

.m-t-30 { margin-top: 30px; }

.m-t-35 { margin-top: 35px; }

.m-t-40 { margin-top: 40px; }

.m-t-45 { margin-top: 45px; }

.m-t-50 { margin-top: 50px; }

.m-r-0 { margin-right: 0px; }

.m-r-5 { margin-right: 5px; }

.m-r-10 { margin-right: 10px; }

.m-r-15 { margin-right: 15px; }

.m-r-20 { margin-right: 20px; }

.m-r-25 { margin-right: 25px; }

.m-r-30 { margin-right: 30px; }

.m-r-35 { margin-right: 35px; }

.m-r-40 { margin-right: 40px; }

.m-r-45 { margin-right: 45px; }

.m-r-50 { margin-right: 50px; }

.m-b-0 { margin-bottom: 0px; }

.m-b-5 { margin-bottom: 5px; }

.m-b-10 { margin-bottom: 10px; }

.m-b-15 { margin-bottom: 15px; }

.m-b-20 { margin-bottom: 20px; }

.m-b-25 { margin-bottom: 25px; }

.m-b-30 { margin-bottom: 30px; }

.m-b-35 { margin-bottom: 35px; }

.m-b-40 { margin-bottom: 40px; }

.m-b-45 { margin-bottom: 45px; }

.m-b-50 { margin-bottom: 50px; }

.m-l-0 { margin-left: 0px; }

.m-l-5 { margin-left: 5px; }

.m-l-10 { margin-left: 10px; }

.m-l-15 { margin-left: 15px; }

.m-l-20 { margin-left: 20px; }

.m-l-25 { margin-left: 25px; }

.m-l-30 { margin-left: 30px; }

.m-l-35 { margin-left: 35px; }

.m-l-40 { margin-left: 40px; }

.m-l-45 { margin-left: 45px; }

.m-l-50 { margin-left: 50px; }

.m-x-0 { margin: 0px; }

.m-x-5 { margin: 5px; }

.m-x-10 { margin: 10px; }

.m-x-15 { margin: 15px; }

.m-x-20 { margin: 20px; }

.m-x-25 { margin: 25px; }

.m-x-30 { margin: 30px; }

.m-x-35 { margin: 35px; }

.m-x-40 { margin: 40px; }

.m-x-45 { margin: 45px; }

.m-x-50 { margin: 50px; }

.p-t-0 { padding-top: 0px; }

.p-t-5 { padding-top: 5px; }

.p-t-10 { padding-top: 10px; }

.p-t-15 { padding-top: 15px; }

.p-t-20 { padding-top: 20px; }

.p-t-25 { padding-top: 25px; }

.p-t-30 { padding-top: 30px; }

.p-t-35 { padding-top: 35px; }

.p-t-40 { padding-top: 40px; }

.p-t-45 { padding-top: 45px; }

.p-t-50 { padding-top: 50px; }

.p-r-0 { padding-right: 0px; }

.p-r-5 { padding-right: 5px; }

.p-r-10 { padding-right: 10px; }

.p-r-15 { padding-right: 15px; }

.p-r-20 { padding-right: 20px; }

.p-r-25 { padding-right: 25px; }

.p-r-30 { padding-right: 30px; }

.p-r-35 { padding-right: 35px; }

.p-r-40 { padding-right: 40px; }

.p-r-45 { padding-right: 45px; }

.p-r-50 { padding-right: 50px; }

.p-b-0 { padding-bottom: 0px; }

.p-b-5 { padding-bottom: 5px; }

.p-b-10 { padding-bottom: 10px; }

.p-b-15 { padding-bottom: 15px; }

.p-b-20 { padding-bottom: 20px; }

.p-b-25 { padding-bottom: 25px; }

.p-b-30 { padding-bottom: 30px; }

.p-b-35 { padding-bottom: 35px; }

.p-b-40 { padding-bottom: 40px; }

.p-b-45 { padding-bottom: 45px; }

.p-b-50 { padding-bottom: 50px; }

.p-l-0 { padding-left: 0px; }

.p-l-5 { padding-left: 5px; }

.p-l-10 { padding-left: 10px; }

.p-l-15 { padding-left: 15px; }

.p-l-20 { padding-left: 20px; }

.p-l-25 { padding-left: 25px; }

.p-l-30 { padding-left: 30px; }

.p-l-35 { padding-left: 35px; }

.p-l-40 { padding-left: 40px; }

.p-l-45 { padding-left: 45px; }

.p-l-50 { padding-left: 50px; }

.p-x-0 { padding: 0px; }

.p-x-5 { padding: 5px; }

.p-x-10 { padding: 10px; }

.p-x-15 { padding: 15px; }

.p-x-20 { padding: 20px; }

.p-x-25 { padding: 25px; }

.p-x-30 { padding: 30px; }

.p-x-35 { padding: 35px; }

.p-x-40 { padding: 40px; }

.p-x-45 { padding: 45px; }

.p-x-50 { padding: 50px; }

body { font-family: "Roboto", Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.3; color: #25092e; }

.layout { max-width: 1244px; width: 100%; margin: 0 auto; }

.mg-cont { display: grid; grid-template-columns: 924px 320px; }

h3 { color: #000; font-size: 1.2rem; font-weight: 700; margin: 5px 0; }

h5 { font-size: 22px; color: #000; }

.uppercase { text-transform: uppercase; }

.bold { font-weight: 700; }

.align-center { text-align: center; }

.lan-top-cont { background: #f5f5f5; border-top: 4px solid #e1261d; }

.lan-top-cont .layout { display: flex; justify-content: space-between; }

.lang-list { display: flex; }

.lang-list li.active a { background: #e1261d; color: #fff; }

.lang-list a { color: #666; font-size: .9rem; font-weight: 600; display: block; padding: 5px 10px; }

.logo-add-cont { display: flex; justify-content: space-between; padding: 10px 0; align-items: center; }

.top-social-cont { display: flex; justify-content: space-between; align-items: center; }

.top-social-cont a { margin-left: 10px; }

.top-social-cont i { width: 24px; height: 24px; background: url(../images/sprit-sob-3.png) -999% top no-repeat; display: block; }

.top-social-cont i.fb { background-position: left 0px; }

.top-social-cont i.tw { background-position: -26px 0px; }

.top-social-cont i.inst { background-position: -52px 0px; }

.top-social-cont i.yt { background-position: -78px 0px; }

.top-social-cont i.in { background-position: -102px 0px; }

.top-social-cont i.ap { background-position: -128px 0px; }

.top-social-cont i.an { background-position: -154px 0px; }

.nav-cont { position: sticky; top: 0; z-index: 9999; background: #f5f5f5; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }

.nav-cont nav { height: 42px; display: flex; padding: 7px 0; }

#nav-hm-btn { border: none; background: transparent; width: 28px; height: 20px; position: relative; top: 50%; transform: translateY(-50%); transition: all .3s; padding: 0; cursor: pointer; }

#nav-hm-btn.cross-btn span { transform: rotate(-45deg); top: 9px; left: 0; }

#nav-hm-btn.cross-btn span:before { background: transparent; }

#nav-hm-btn.cross-btn span:after { transform: rotate(90deg); bottom: 0; left: 0; }

#nav-hm-btn span { position: absolute; left: 0; top: 0; width: 100%; height: 3px; background: #222; }

#nav-hm-btn span:before, #nav-hm-btn span:after { content: ""; width: 100%; height: 100%; position: absolute; background: #222; left: 0; transform: rotate(0deg); }

#nav-hm-btn span:before { top: 8px; }

#nav-hm-btn span:after { bottom: -16px; }

#nav-hm-btn:focus { outline: none; }

#glb-search-btn { width: 18px; height: 18px; background: transparent; border: none; cursor: pointer; position: relative; top: 50%; transform: translateY(-64%); }

#glb-search-btn:before, #glb-search-btn:after { content: ""; position: absolute; }

#glb-search-btn:before { width: 14px; height: 14px; border: 2.5px solid #515151; border-radius: 50%; left: 0; top: 0; }

#glb-search-btn:after { width: 2.5px; height: 11px; background: #515151; right: -2px; bottom: -5px; transform: rotate(-54deg); }

#glb-search-btn:focus { outline: none; }

.menu-list { display: flex; align-items: center; padding: 0 0 0 20px; }

.menu-list:first-of-type { margin-left: 30px; }

.menu-list a { color: #000; font-size: .8rem; font-weight: 600; display: block; margin-right: 40px; padding: 5px 10px; }

.b-list { border-left: 1px solid #c4c4c4; flex: 1; padding-left: 30px; }

.b-list a { background: #dcdcdc; padding: 6px 13px; margin-right: 50px; }

.top_exclusive_cont { text-align: center; width: 100%; border-bottom: 1px dashed #ccc; }

.top_exclusive_cont > a { color: #fff; background: #ed1c24; font-size: 1.1rem; display: inline-block; padding: 10px 20px; text-transform: uppercase; }

.top_exclusive_cont h1 { max-width: 80%; width: 100%; margin-left: auto; margin-right: auto; }

.top_exclusive_cont h1 > a { color: #000; font-size: 2.3rem; font-weight: 700; line-height: 1.4; }

.ts_cont { display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 15px; overflow: hidden; }

.ts_cont a { display: block; position: relative; }

.ts_nw_list.js-error > a:nth-of-type(n+2) { display: none; }

.ts_nw_list:not(:last-of-type) { border-bottom: 1px solid #d7d7d7; }

.ts_nw_list strong { color: #cd221f; display: inline-block; margin-bottom: 7px; }

.ts_nw_list h2 { color: #000; font-weight: bold; }

.ts_nw_list:first-of-type { grid-column: 1/3; grid-row: 1/6; border-bottom: none; overflow: hidden; position: relative; }

.ts_nw_list:first-of-type .slick-slide { display: inline-block; }

.ts_nw_list:first-of-type img { width: 100%; height: 100%; display: block; }

.ts_nw_list:first-of-type h2 { width: 100%; position: absolute; bottom: 0; left: 0; color: #fff; font-weight: 400; padding: 10px 15px 15px; background: rgba(0, 0, 0, 0.7); font-size: 1.3rem; line-height: 1.6; }

.ts_nw_list:first-of-type h2 strong { color: #fff; font-size: 1rem; background: #cd221f; position: absolute; left: 0; top: -30px; padding: 5px 10px; height: 30px; }

.ts_nw_list .slick-dots { position: absolute; width: 100%; left: 0; bottom: 0px; text-align: center; padding: 5px 0px 6px; }

.ts_nw_list .slick-dots li { display: inline-block; margin: 0 5px; position: relative; width: 12px; height: 12px; }

.ts_nw_list .slick-dots li.slick-active button { background: white; }

.ts_nw_list .slick-dots li button { width: 100%; height: 100%; background: rgba(255, 255, 255, 0.6); border: none; position: absolute; font-size: 0; line-height: 0; left: 0; top: 0; border-radius: 50%; }

.ts_nw_list .slick-dots li button:focus { outline: none; }

.ms_cont { display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 15px; }

.ms_cont > div a { display: block; height: 100%; }

.ms_cont > div:first-of-type { grid-column: 1/3; grid-row: 1/4; }

.ms_cont > div:first-of-type img { width: 100%; height: 100%; display: block; }

.ms_cont > div:first-of-type figure { position: relative; height: 100%; }

.ms_cont > div:first-of-type h4 { color: #fff; position: absolute; width: 100%; left: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); font-size: 1.2rem; padding: 10px 10px; }

.ms_cont > div:nth-of-type(2), .ms_cont > div:nth-of-type(3), .ms_cont > div:nth-of-type(4), .ms_cont > div:nth-of-type(6) { grid-column: 3/5; }

.ms_cont > div:nth-of-type(5) { grid-column: 1/3; }

.ms_cont > div:not(:first-of-type) a { display: grid; grid-template-columns: 130px 1fr; grid-gap: 15px; }

.ms_cont > div:not(:first-of-type) figure { height: 93px; }

.ms_cont > div:not(:first-of-type) h4 { font-size: .9rem; color: #000; font-weight: 600; line-height: 1.5; }

.ms_cont > div:not(:first-of-type) img { width: 100%; height: 100%; object-fit: cover; }

.col_story { display: grid; grid-template-columns: repeat(7, 1fr); grid-gap: 10px; }

.col_story a { display: block; height: 100%; }

.col_story > div { grid-column: 3/6; border-bottom: 1px solid #d0d0d0; padding-bottom: 5px; }

.col_story > div figure { height: 150px; margin-bottom: 10px; }

.col_story > div img { width: 100%; height: 100%; object-fit: cover; }

.col_story > div h4 { color: #6b6b6b; font-size: 1.1rem; }

.col_story > div:first-of-type { grid-column: 1/3; grid-row: 1/6; border-right: 1px solid #d0d0d0; border-bottom: none; padding-bottom: 10px; padding-right: 15px; padding-top: 5px; }

.col_story > div:first-of-type h4 { color: #000; font-size: 1.1rem; font-weight: 600; }

.col_story > div:nth-last-of-type(2) { border-bottom: none; padding-bottom: 0px; }

.col_story > div:last-of-type { grid-column: 6/8; grid-row: 1/6; border-left: 1px solid #d0d0d0; border-bottom: none; padding-left: 15px; padding-bottom: 10px; padding-top: 5px; }

.col_story > div:last-of-type h4 { color: #000; font-size: 1.1rem; font-weight: 600; }

.slider_stories_cont { position: relative; }

.slider_stories_cont h5 a { color: #000; }

.slider_stories_cont.js-error ul > li:nth-child(n+2) { display: none; }

.slider_stories_cont .slick-list { overflow: hidden; }

.slider_stories_cont .slick-slide { display: inline-block; }

.slider_stories_cont a { display: block; }

.slider_stories_cont figure { height: 205px; }

.slider_stories_cont figure img { display: block; width: 100%; height: 100%; object-fit: cover; }

.slider_stories_cont h6 { background: #f4f4f4; color: #000; font-size: 1.2rem; padding: 10px 10px 15px; font-weight: 600; }

.sli-sto-btn { position: absolute; width: 28px; height: 36px; background: rgba(0, 0, 0, 0.7); border: none; z-index: 1; transform: translateY(-140%); top: 50%; }

.sli-sto-btn:focus { outline: none; }

.sli-sto-btn.cust-prev { left: 0; }

.sli-sto-btn.cust-next { right: 0; }

.sli-sto-btn:after, .sli-sto-btn:before { width: 17px; height: 2px; background: #fff; content: ""; position: absolute; left: 6px; }

.sli-sto-btn.cust-prev { border-radius: 0 6px 6px 0; }

.sli-sto-btn.cust-prev:after { transform: rotate(45deg); bottom: 11px; }

.sli-sto-btn.cust-prev:before { transform: rotate(-45deg); top: 12px; }

.sli-sto-btn.cust-next { border-radius: 6px 0 0 6px; }

.sli-sto-btn.cust-next:after { transform: rotate(-45deg); bottom: 12px; }

.sli-sto-btn.cust-next:before { transform: rotate(45deg); top: 11px; }

.slick-slide-info { position: absolute; right: 0; top: 4px; color: #172646; font-size: 1rem; font-weight: normal; }

.gp_data { display: grid; grid-template-columns: repeat(7, 1fr); grid-gap: 1px; }

.gp_data figure { height: 476px; }

.gp_data a { position: relative; }

.gp_data a:first-of-type, .gp_data a:nth-of-type(4) { grid-column: 1/3; }

.gp_data a:nth-of-type(2) { grid-column: 3/6; grid-row: 1/5; }

.gp_data a:nth-of-type(2) figure { height: 358px; }

.gp_data a:nth-of-type(2) h6 { font-size: 1rem; }

.gp_data a:nth-of-type(3), .gp_data a:last-of-type { grid-column: 6/8; }

.gp_data a:first-of-type, .gp_data a:nth-of-type(3) { grid-row: 1/3; }

.gp_data a:first-of-type figure, .gp_data a:nth-of-type(3) figure { height: 238px; }

.gp_data a:last-of-type, .gp_data a:nth-of-type(4) { grid-row: 3/6; }

.gp_data a:last-of-type figure, .gp_data a:nth-of-type(4) figure { height: 238px; }

.gp_data a figure { height: 118px; }

.gp_data a figure > img { width: 100%; height: 100%; object-fit: cover; display: block; }

.gp_data h6 { position: absolute; width: 100%; background: rgba(0, 0, 0, 0.5); left: 0; bottom: 0; color: #fff; padding: 5px 10px; line-height: 1.5; font-size: .8rem; }

.gp_data .gp_info { position: absolute; width: 34px; height: 34px; border-radius: 50%; border: 2px solid #fff; right: 10px; top: 15px; overflow: hidden; }

.gp_data .gp_info:before { content: ""; position: absolute; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); }

.gp_data .gp_info.vid:after { content: ""; border-left: 13px solid #fff; border-top: 7px solid transparent; border-bottom: 7px solid transparent; position: absolute; right: 6px; top: 8px; }

.gp_data .gp_info.pht:after { content: ""; width: 17px; height: 17px; background: url("https://images.news18.com/static_news18/pix/ibnhome/news18/assam/assets/images/ph-icon.png") center center no-repeat; position: absolute; left: 6px; top: 6px; }

.bs-cont { background: #f4f4f4; }

.bs-list { display: grid; grid-template-columns: repeat(8, 1fr); grid-gap: 15px; }

.bs-list a:not(:first-of-type) { display: grid; grid-template-columns: 138px 1fr; grid-gap: 15px; }

.bs-list a:first-of-type { grid-column: 1/3; grid-row: 1/5; }

.bs-list a:first-of-type figure { height: 230px; margin-bottom: 10px; }

.bs-list a:first-of-type img { width: 100%; height: 100%; object-fit: cover; }

.bs-list a:first-of-type p { color: #000; font-size: .9rem; margin: 5px 0; line-height: 1.5; }

.bs-list a:nth-of-type(2), .bs-list a:nth-of-type(4), .bs-list a:nth-of-type(6), .bs-list a:nth-of-type(8) { grid-column: 3/6; }

.bs-list a:last-of-type, .bs-list a:nth-of-type(3), .bs-list a:nth-of-type(5), .bs-list a:nth-of-type(7) { grid-column: 6/9; }

.bs-list figure { width: 100%; height: 90px; }

.bs-list figure img { width: 100%; height: 100%; object-fit: cover; }

.bs-list h4 { color: #000; font-size: 1rem; line-height: 1.5; font-weight: 600; }

.regional-head { display: flex; justify-content: space-between; }

.regional-head h3 { font-weight: bold; }

.regional-head ul { display: flex; justify-content: space-between; align-items: center; }

.regional-head a { font-size: 1rem; color: #000; font-weight: 500; }

.regional-head li { margin-left: 30px; border-left: 1px solid #b2b2b2; padding-left: 30px; }

.regional-head li:first-child { border-left: 0; }

.regional-head li.active a { color: #ce2220; font-weight: bold; }

.regional_list { display: grid; grid-template-columns: repeat(5, 1fr); grid-gap: 15px; }

.regional_list a { position: relative; }

.regional_list a:first-of-type { grid-column: 1/4; grid-row: 1/4; }

.regional_list a:first-of-type figure { height: 500px; }

.regional_list a:first-of-type h6 { font-size: 1.3rem; }

.regional_list figure { height: 156px; }

.regional_list img { display: block; width: 100%; height: 100%; object-fit: cover; }

.regional_list h6 { position: absolute; background: rgba(0, 0, 0, 0.5); color: #fff; left: 0; bottom: 0; padding: 5px 10px; width: 100%; font-weight: 600; }

.sponser-cont { background: url(http://images.hindi.news18.com/ibnkhabar/uploads/2019/04/slogo-bg.jpg) left top repeat; }

.sponser-cont > .layout { display: flex; justify-content: space-between; padding: 10px 0; align-items: center; }

#sponser-list-cont strong { color: #d4d4d4; font-size: 15px; text-transform: uppercase; font-family: sans-serif; padding-right: 10px; padding-top: 3px; font-weight: normal; }

#sponser-list { display: flex; justify-content: flex-end; }

#sponser-list a { display: block; margin-right: 20px; }

#sponser-list a:focus { outline: none; }

#sponser-list .opac-zero { visibility: hidden; }

#sponser-list img { display: block; }

#sponser-list .slick-list { overflow: hidden; }

#sponser-list .slick-track { display: flex; }

.widget-landing-placeholder { display: flex; }

.widget-landing-placeholder img, .widget-landing-placeholder a { display: block; }

.widget-landing-placeholder a:focus { outline: none; }

.loading-image { animation-duration: 1.6s; animation-fill-mode: forwards; animation-iteration-count: infinite; animation-name: placeHolderShimmer; animation-timing-function: linear; background: #f6f7f8; background: linear-gradient(to right, #e5e5e5 8%, #f5f5f5 18%, #e5e5e5 33%); position: relative; }

.background-masker { background: #fff; position: absolute; }

.background-masker.head-top { top: 10px; height: 10px; left: 0; right: 0; }

.background-masker.subhead-top { top: 30px; height: 10px; left: 0; right: 0; }

.background-masker.cont-top { top: 50px; height: 10px; left: 0; right: 0; }

@keyframes placeHolderShimmer { 0% { background-position: -200px 0; }
  100% { background-position: 468px 0; } }

@media (min-width: 768px) { #sponser-list-cont { display: flex; justify-content: space-between; margin-right: -20px; }
  #sponser-list { width: 570px; } }

@media (max-width: 767px) { #sponser-list.js-error li:nth-of-type(n+2) a { margin-right: 0px; }
  #sponser-list.js-error li:nth-of-type(n+3) { display: none; }
  .sponser-cont > .layout { padding: 10px; }
  .widget-landing-placeholder { width: 116px; padding-top: 20px; }
  #sponser-list-cont { width: calc(100% - 160px); }
  #sponser-list-cont strong { font-size: 11px; padding-bottom: 5px; display: block; padding-top: 0; } }

footer { background: #1a1a1a; }

.fc-color { background: #212121; padding: 10px 0; }

.our-tv-cont { display: flex; }

.ar-divider { font-family: 'Roboto'; border-right: 1px solid #4a4a4a; font-weight: 300; color: #fafbff; font-size: 1.2rem; text-transform: uppercase; padding: 20px 20px 20px 0; margin-right: 20px; position: relative; display: flex; align-items: center; }

.ar-divider:after { position: absolute; content: ""; border-left: 8px solid #898989; border-top: 8px solid transparent; border-bottom: 8px solid transparent; right: -8px; top: 50%; transform: translateY(-50%); }

.tv-slider { padding: 10px 20px; overflow: hidden; position: relative; }

.tv-slider.js-error { width: 100%; text-align: center; }

.tv-slider.js-error a:nth-of-type(n+10) { display: none; }

.tv-slider a { display: inline-block; text-align: center; padding: 0 15px; border-right: 1px solid #303030; min-height: 52px; }

.tv-slider a:focus { outline: none; }

.tv-slider .slick-slide { display: inline-block; }

.tv-slider .slick-list { overflow: hidden; }

.footer-tv-slides { position: absolute; width: 18px; height: 26px; border: none; top: 50%; transform: translateY(-50%); background: transparent; cursor: pointer; padding: 0; }

.footer-tv-slides:before, .footer-tv-slides:after { content: ""; position: absolute; width: 100%; height: 3px; background: #393939; }

.footer-tv-slides.cust-prev { left: 0; }

.footer-tv-slides.cust-prev:before, .footer-tv-slides.cust-prev:after { left: 0; }

.footer-tv-slides.cust-prev:before { transform: rotate(-45deg); top: 3px; }

.footer-tv-slides.cust-prev:after { transform: rotate(45deg); }

.footer-tv-slides.cust-next { right: 0; }

.footer-tv-slides.cust-next:before, .footer-tv-slides.cust-next:after { left: 0; }

.footer-tv-slides.cust-next:before { transform: rotate(-45deg); }

.footer-tv-slides.cust-next:after { transform: rotate(45deg); top: 3px; }

.footer-tv-slides:focus { outline: none; }

.disclaimer-cont { background: #0c0c0c; padding: 10px 0; }

.disclaimer-cont span { color: #8c8c8c; font-size: .7rem; font-weight: normal; font-family: 'Roboto'; font-weight: 500; }

.our-sites-cont { display: flex; }

.out-sites-list { display: block; }

.out-sites-list a { font-family: 'Roboto'; font-weight: 300; color: #818181; font-size: 1.2em; display: inline-block; margin: 5px 10px; }

.fn-cont { border-top: 1px solid #313131; border-bottom: 1px solid #313131; display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 10px; }

.fn-cont h3 { border: none; padding: 5px 0; font-size: 1.6em; }

.fn-cont h3:after { display: none; }

.fn-cont div:nth-of-type(2) { grid-column: 2/4; border-left: 1px solid #313131; border-right: 1px solid #313131; margin: 0 15px; padding: 0 15px; }

.fn-cont div:nth-of-type(2) ul { margin-bottom: 30px; }

.fn-cont div:nth-of-type(2) li { background: #0c0c0c; border-left: 3px solid #ed3f3c; margin-bottom: 5px; }

.fn-cont div:nth-of-type(2) a { color: #818181; font-size: 1.1em; padding: 10px; display: block; font-family: 'Roboto'; font-weight: 300; line-height: 1.5; }

.fn-cont div:first-of-type ul, .fn-cont div:last-of-type ul { display: grid; grid-template-columns: repeat(2, 1fr); margin-left: 15px; }

.fn-cont div:first-of-type li, .fn-cont div:last-of-type li { margin-bottom: 10px; }

.fn-cont div:first-of-type a, .fn-cont div:last-of-type a { color: #818181; font-size: 1.1em; font-family: 'Roboto'; font-weight: 300; display: block; position: relative; margin-right: 25px; display: inline-block; }

.fn-cont div:first-of-type a:before, .fn-cont div:first-of-type a:after, .fn-cont div:last-of-type a:before, .fn-cont div:last-of-type a:after { content: ""; width: 7px; height: 1px; background: #818181; position: absolute; left: -15px; }

.fn-cont div:first-of-type a:before, .fn-cont div:last-of-type a:before { transform: rotate(45deg); top: 7px; }

.fn-cont div:first-of-type a:after, .fn-cont div:last-of-type a:after { transform: rotate(-45deg); top: 12px; }
