.bs-cont{
  background: #f4f4f4;
}

.bs-list{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap:15px;
  a{
    &:not(:first-of-type){
      display:grid;
      grid-template-columns: 138px 1fr;
      grid-gap:15px;
      figure{
        width: 100%;
        height: 90px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    h4{
      color: #000;
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 600;
    }
    &:first-of-type{
      grid-column: 1/3;
      grid-row: 1/5;
      figure{
        height: 230px;
        margin-bottom: 10px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      p{
        color: #000;
        font-size: .9rem; 
        margin: 5px 0;
        line-height: 1.5;
      }
    }
    &:nth-of-type(2),
    &:nth-of-type(4),
    &:nth-of-type(6),
    &:nth-of-type(8)
    {
      grid-column: 3/6;
    }
    &:last-of-type,
    &:nth-of-type(3),
    &:nth-of-type(5),
    &:nth-of-type(7){
      grid-column: 6/9;
    }
  }
}
