.col_story{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  a{
    display: block;
    height: 100%;
  }
  >div{
     grid-column: 3/6;
    &:first-of-type{
      grid-column: 1/3;
      grid-row: 1/6;
    }
    &:last-of-type{
      grid-column: 6/8;
      grid-row: 1/3;
    }
  }
}
