// helper classes start
.clearfix{
  &:after,
  &:before{
    content: "";
    display: block;
    width: 100%;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    clear: both;
  }
}

// Margins
@include mp-loop('.m-t-', 'margin-top');
@include mp-loop('.m-r-', 'margin-right');
@include mp-loop('.m-b-', 'margin-bottom');
@include mp-loop('.m-l-', 'margin-left');
@include mp-loop('.m-x-', 'margin');
// Paddings
@include mp-loop('.p-t-', 'padding-top');
@include mp-loop('.p-r-', 'padding-right');
@include mp-loop('.p-b-', 'padding-bottom');
@include mp-loop('.p-l-', 'padding-left');
@include mp-loop('.p-x-', 'padding');
// helper classes end
body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #25092e;
}

.layout{
  max-width:1244px;
  width:100%;
  margin: 0 auto;
}
.mg-cont {
  display: grid;
  grid-template-columns: 1fr 320px;
}
h3{
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 5px 0;
}
h5{
  font-size: 22px;
  color: #000;
}

.uppercase{
  text-transform: uppercase;
}
.bold{
  font-weight: 700;
}
.align-center{
  text-align: center;
}
