.slider_stories_cont{
  position: relative;
  .slick-list{
    overflow: hidden;
  }
  .slick-slide{
    display: inline-block;
  }
  a{
    display: block;
  }
  figure{
    height: 205px;
    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h6{
    background: #f4f4f4;
    color: #000;
    font-size: 1.2rem;
    padding: 10px 10px 15px;
    font-weight: 600;
  }
}

.sli-sto-btn{
  position: absolute;
  width: 28px;
  height: 36px;
  background: #000;
  border:none;
  z-index: 1;
  transform: translateY(-140%);   
  top:50%;
  &:focus{
    outline: none;
  }
  &.cust-prev{
    left: 0;
  }
  &.cust-next{
    right: 0;
  }
}
.slick-slide-info{
  position: absolute;
  right:0;
  top:4px;
  color: #172646;
  font-size: 1rem;
  font-weight: normal;
}
